changefreqProperties=[""]
characterEncoding=""
damassetsProperty=""
damassetsTypes=[""]
extensionlessUrls=B"false"
externalizerDomain="sag"
includeInherit=B"false"
includeLastmod=B"true"
priorityProperties=[""]
removeSlash=B"false"
service.factoryPid="com.softwareag.core.seo.SiteMapServlet"
service.pid="com.softwareag.core.seo.SiteMapServlet.prodpublish"
urlRewrites=["^/content/softwareag/[a-z]{2}(/.+):$1", "^/content/techcommunity/[a-z]{2}(/.+):$1", "^/content/investorrelation/[a-z]{2}(/.+):$1", "^/content/newscenter/[a-z]{2}(/.+):$1","/content/developercenter/[a-z]{2}(/.+):$1"]
