.articlequote {
  @include mq-desktop {
    padding: 3.2rem 0;
  }
  @include mq-tablet {
    padding: 2.4rem 0;
  }
  @include mq-phone {
    padding: 2rem 0;
  }
  .quote-container {
    display: flex;
  }
  .quote {
    font-size: 2.8rem;
    line-height: 3.4rem;
    font-weight: 700;
    @include mq-desktop {
      padding-left: 1.6rem;
    }
    @include mq-tablet {
      padding-left: 1.6rem;
    }
    @include mq-phone {
      padding-left: 0.8rem;
    }
    //different global and local font-size in phone for h4 and h4l
    h4 {
      @include mq-phone {
        @include font-size-with-rem-line-height(2.2rem, 2.8rem);
      }
    }

    .a-h4l-new {
      @include mq-phone {
        @include font-size-with-rem-line-height(2.2rem, 2.8rem);
      }
    }
  }
  .source {
    @include font-size-with-rem-line-height(1.6rem, 2.4rem);
    @include base-font;
    @include mq-desktop {
      padding-left: 6.6rem;
    }
    @include mq-tablet {
      padding-left: 6.4rem;
    }
    @include mq-phone {
      padding-left: 5.6rem;
    }
    padding-top: 3.2rem;
  }
}
