<sly data-sly-use.icons="softwareag/components/commons/svg/icons.html"/>
<sly data-sly-use.targetscriptTempqlateTop="softwareag/components/commons/integration/template.target.top.html" />
<div data-sly-use.placeholderTemplate="softwareag/components/commons/templates.html" id="header-v2-parent-Id"
     class="header-v2-parent ${properties.backgroundColor}">
    <!--/* Logo */-->
    <div id="child-div-1-Id" class="child-div-1">
        <div style="min-width:10rem;"
             data-sly-resource="${ 'logo' @ resourceType='softwareag/components/configs/logo-v1'}"></div>
    </div>
    <div id="child-div-2-Id" class="child-div-2">
        <div class="navigation_v2" data-wcmmode="${wcmmode.edit ? 'edit' : 'non-edit'}"
             data-preview="${wcmmode.preview ? 'preview' : 'non-preview'}"
             data-sly-resource="${'navigation_v2' @ resourceType='softwareag/components/content/navigation_v2'}"></div>
        <div class="tablet-view-contact-button"></div>
        <div data-sly-test=${properties.regionchangerenabler} class="regionChanger-spacing_mobile-view">
            <button class="region-changer-text"><span class="region-changer-button">Region Changer</span></button>
        </div>
    </div>
    <div id="child-div-3-Id" class="child-div-3">
        <div data-sly-test=${properties.searchiconenabler} class="child-div-4">
            <div class="searchIcon emp-search"
                 data-sly-resource="${ 'searchcomponent' @ resourceType='empower-sag/components/content/search'}">
            </div>
        </div>
        <div data-sly-test=${properties.regionchangerenabler} class="regionChanger-spacing" style="min-width:5rem;"
             data-sly-resource="${ 'regionChanger'@ resourceType='softwareag/components/content/regionchanger-v1'}">
        </div>
        <div data-sly-test=${properties.primarybuttonenabler} id="primary-contact-button" class="primary-button">
            <div style="min-width:10rem;"
                 data-sly-resource="${ 'button4' @ resourceType='softwareag/components/content/button'}"></div>
        </div>
        <div data-sly-test=${properties.secondarybuttonenabler} id="secondary-try-button" style="min-width:10rem;"
             class="secondary-button">
            <div data-sly-resource="${ 'button5' @ resourceType='softwareag/components/content/button'}"></div>
        </div>
        <div data-sly-test=${properties.loginSectionEnabler} data-logout-label="${properties.logoutLabel}" 
            data-logout-icon="${properties.fileReference}" id="login-section" class="navigation_v2 profile ${wcmmode.preview ? 'preview' : 'non-preview'} ${wcmmode.edit ? 'edit' : 'non-edit'}">
          <div id="request-access" class="primary-button request-access">
              <div data-sly-resource="${ 'requestAccess' @ resourceType='softwareag/components/content/button'}"></div>
          </div>
          <div id="login" class="secondary-button login">
              <div data-sly-resource="${ 'login' @ resourceType='softwareag/components/content/button'}"></div>
          </div>
          <div  id="profile" class="secondary-button-profile"
               data-sly-resource="${ 'profile' @ resourceType='empower-sag/components/structure/loginnavigation'}"
          ></div>
      </div>
        <!--/* Burger Menu */-->
        <button class="headerV2__icons-menu" role="navigation">
            <div class="headerV2__icons-menu-open a-icon a-icon--hover hamburger-icon"
                 data-sly-call="${icons.getIcon @ name='menu-core-dark120', width=30, height=30}"></div>
            <div class="headerV2__icons-menu-close a-icon a-icon--hover" style="display: none;"
                 data-sly-call="${icons.getIcon @ name='close', width=30, height=30}"></div>
            <div class="headerV2__icons-menu-regionChanger a-icon a-icon--hover" style="display: none;"
                 data-sly-call="${icons.getIcon @ name='close', width=30, height=30}"></div>
        </button>
    </div>
</div>