<coral-popover placement="bottom" id="tableActionButton">
    <coral-popover-content>
        <div style="max-width: 200px;">
            <coral-anchorlist>
                <a is="coral-anchorlist-item" icon="tableRowAddTop" href="#addRowAbove" data-action="addRowAbove" class="table-actionButton">Add Row Top</a>
                <a is="coral-anchorlist-item" icon="tableRowAddBottom" href="#addRowBelow" data-action="addRowBelow" class="table-actionButton">Add Row Bottom</a>
                <a is="coral-anchorlist-item" icon="tableRowRemoveCenter" href="#deleteRow" data-action="deleteRow" class="table-actionButton">Remove Row</a>
                <a is="coral-anchorlist-item" icon="tableColumnAddLeft" href="#addLeftColumn" data-action="addLeftColumn" class="table-actionButton">Add Column Left</a>
                <a is="coral-anchorlist-item" icon="tableColumnAddRight" href="#addRightColumn" data-action="addRightColumn" class="table-actionButton">Add Column Right</a>
                <a is="coral-anchorlist-item" icon="tableColumnRemoveCenter" href="#deleteColumn" data-action="deleteColumn" class="table-actionButton">Remove Column</a>
            </coral-anchorlist>
        </div>
    </coral-popover-content>
</coral-popover>
