/* stylelint-disable selector-class-pattern */
.aem-AuthorLayer-Edit {
    .footer__list-container {
        display: flex;
        justify-items: flex-start;
        flex-wrap: nowrap;

        > .list {
            margin-left: gutter-calc();
            flex-grow: 1;
            flex-basis: 0;
        }

        > .new {
            margin-left: gutter-calc();
            flex-grow: 1;
            flex-basis: 0;
        }
    }
}

.configurationpage .footer-v1 {
    position: unset;
}

.footer-v1 {
    background-color: $color-core-black;
    width: 100%;
    left: 0;
    @include clearfix();


    .content-width-v2{

        &:first-child{
            @include spacing('padding-top', newxxl);
            padding-bottom:2rem;
            @include mq-tablet{
                padding-bottom: 0;
            }
        }
        &:last-child{
            padding-top:2rem;
            @include spacing('padding-bottom', newxxl);
        }    

        padding: 2rem 2.4rem;
        width: 100%;
        max-width: 132rem;
        margin: 0 auto;

        .text.rtewrapper{
            max-width: 132rem !important; // to override #sagcontent .text
            margin: 0 auto;
        }


        @include mq-phone {
            @include spacing('padding-left', newm);
            @include spacing('padding-right', newm);
            
        }
        @include mq-tablet {
            @include spacing('padding-left',newm);
            @include spacing('padding-right',newm);
                
        }
        
    }

    // @include mq-desktop {
    //     padding: 4rem;
    // }

    @include mq-until-tablet {
        .flex-reverse-order {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    hr {
        @include spacing('margin-top',footerhr);
        border: 0 none;
        border-bottom: 1px solid $color-core-dark-220;
    }

    hr.hide-except-desktop {
        margin-bottom:2rem;
    }
    
    .pull-left {
        min-width: 220px;
    }

    .text__container {
        background: transparent;
        padding: 0;
        margin-bottom:0;

        .text__text {
            @include mq-phone {
                @include font-size-with-rem-line-height(1.4rem, 2.4rem);
            }
            @include mq-tablet {
                @include font-size-with-rem-line-height(1.4rem, 2.4rem);
            }
            @include mq-desktop {
                @include font-size-with-rem-line-height(1.4rem, 2.4rem);
            }
            color: $color-core-dark-850;
            margin-bottom:0;
        }
    }

    
.footer__logo {
    width: 15rem;
    height: 3.2rem;
    @include mq-phone{
        width:15rem;
    }
 }
 
 .footer__region-selector--toggle {
     color: $color-white;
 
     .icon-global {
         @include mq-phone {
             width: 2.4rem;
             height: 2.4rem;
         }
 
         @include mq-except-desktop {
             width: 4rem;
             height: 4rem;
         }
 
         @include mq-desktop {
             width: 4rem;
             height: 4rem;
         }
     }
 }
 
 .footer__list-container {
     @include clearfix();
 
     @include mq-phone {
         @include font-size-with-rem-line-height(1.4rem, 2.4rem);
     }
     @include mq-tablet {
         @include font-size-with-rem-line-height(1.8rem, 2.8rem);
     }
     @include mq-desktop {
         @include font-size-with-rem-line-height(1.8rem, 2.8rem);
     }
 }
 
 .footer__list-container > .list {
     vertical-align: top;
 
     @include mq-until-tablet {
         float: none;
         width: 100%;
         margin: 0;
         cursor: pointer;
 
         border-bottom: 1px solid $color-core-dark-220;
 
         &:first-child {
             border-top: 1px solid $color-core-dark-220;
         }
     }
 
     @include mq-desktop {
         /* Automatic grid generation - 2 Link Lists */
         &:nth-child(1):nth-last-child(2),
         &:nth-child(2):nth-last-child(1) {
             @include columns(6);
             @include grid-column();
         }
         /* Automatic grid generation - 3 Link Lists */
         &:nth-child(1):nth-last-child(3),
         &:nth-child(2):nth-last-child(2),
         &:nth-child(3):nth-last-child(1) {
             @include columns(4);
             @include grid-column();
         }
         /* Automatic grid generation - 4 Link Lists */
         &:nth-child(1):nth-last-child(4),
         &:nth-child(2):nth-last-child(3),
         &:nth-child(3):nth-last-child(2),
         &:nth-child(4):nth-last-child(1) {
             @include columns(3);
             @include grid-column();
         }
     }
 }
 
 .footer__list-container .list__head {
 
     position: relative;
     @include mq-from-tablet {
         outline: none;
     }
 }
 
 .footer__list-container .list__head-title {
     @include clearfix();
     font-weight: bold;
     color: $color-white;
     display: block;
     @include font-size-with-rem-line-height(2rem, 2.6rem);
 
     @include mq-until-tablet {
         width: 100%;
         vertical-align: middle;
         padding-top: 2rem;
         padding-bottom: 2rem;
     }
 
     
    
     
 
     @include mq-desktop {
         margin-bottom: 2rem;
         
     }
 }
 
 .footer__list-container .list__head-icon {
     display: inline-block;
     color: $color-white;
     position: absolute;
     top: 23px;
     right: 0;
     width: 2rem;
     height: 2rem;
     -webkit-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
 
     svg{
         fill:$color-white;
     }
 
     @include mq-from-tablet {
         display: none;
     }
 }
 
 .footer__list-container .list__linklist {
     @include mq-from-tablet {
         display: block;
         height: auto !important; // override inline style
     }
 }
 
 .footer__list-container .linklist__item {
     margin-bottom: 0.8rem;
     margin-top: 0.8rem;
     @include font-size-with-rem-line-height(1.6rem, 2.4rem);
 
     &:last-child {
         margin-bottom: 0rem;
     }
 }
 
 .footer__list-container .linklist__link {
     @include a-anchor-text-footer();
 }
 
}
