<sly data-sly-use.clientlib="/apps/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.css @ categories= [
  'softwareag.site',
  'cq.dam.components.scene7.dynamicmedia',
  'cq.dam.components.scene7.common.i18n'
  ]
  }">
</sly>

<sly data-sly-use.dataLayerTemplate="dataLayer.html" data-sly-call="${dataLayerTemplate}"></sly>

<sly data-sly-use.popup="popUpRedirect.html" data-sly-call="${popup}"></sly>
<sly data-sly-use.utm="utmParameter.html" data-sly-call="${utm}"></sly>


<style type="text/css">
  @font-face {
    font-family: "RobotoBold";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: "RobotoLight";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
  }

  @font-face {
    font-family: "RobotoRegular";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }


  @font-face {
    font-family: "NotoSansJP-Bold";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/NotoSansJP-Bold.otf") format("OpenType");
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: "NotoSansJP-Light";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/NotoSansJP-Light.otf") format("OpenType");
    font-style: normal;
    font-weight: 300;
  }

  @font-face {
    font-family: "NotoSansJP-Regular";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/NotoSansJP-Regular.otf") format("OpenType");
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: "NotoSansKR-Bold";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/NotoSansKR-Bold.otf") format("OpenType");
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: "NotoSansKR-Light";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/NotoSansKR-Light.otf") format("OpenType");
    font-style: normal;
    font-weight: 300;
  }

  @font-face {
    font-family: "NotoSansKR-Regular";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/NotoSansKR-Regular.otf") format("OpenType");
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: "NotoSansSC-Bold";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/NotoSansSC-Bold.otf") format("OpenType");
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: "NotoSansSC-Light";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/NotoSansSC-Light.otf") format("OpenType");
    font-style: normal;
    font-weight: 300;
  }

  @font-face {
    font-family: "NotoSansSC-Regular";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/NotoSansSC-Regular.otf") format("OpenType");
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: "Roboto-LightItalic";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/Roboto-LightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
  }


  @font-face {
    font-family: "Roboto-Italic";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/Roboto-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: "Roboto-BoldItalic";
    src: url("/etc.clientlibs/softwareag/clientlibs/clientlib-site/resources/fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
  }
</style>