<sly data-sly-use.meta="com.softwareag.core.models.page.PageMetaModel" data-sly-test="${meta.config.enabledFacebook}">
    <meta property="og:title" content="${meta.websiteMetadataProvider.title}" />
    <meta property="og:url" content="${meta.websiteMetadataProvider.URL}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="${meta.websiteMetadataProvider.siteName}" />
    <meta property="og:image" content="${meta.websiteMetadataProvider.image}" />
    <meta property="og:description" content="${meta.websiteMetadataProvider.description}" />
</sly>
