<template data-sly-template.head="${ @ page }"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.headResources="head.resources.html">
    <meta charset="UTF-8">
    <title>${page.title}</title>
    <meta data-sly-test.keywords="${page.keywords}" name="keywords" content="${keywords}"/>
    <meta data-sly-test.description="${properties['jcr:description']}" name="description" content="${description}"/>
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta data-sly-test="${properties.noIndex}" name="robots" content="noindex">

    <sly data-sly-include="head.socialmedia.html"></sly>
    <link href="data:image/x-icon;base64,AAABAAEAICAAAAEAIACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAABILAAASCwAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9HwEAPR8BKj0fAeo9HwH/PR8B/z0fAf89HwH/
PR8B/z0fAf89HwH/PR8B/z0fAfk9HwHSPR8BeD0fARY9HwEAPR8BAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD0fAQA9HwEqPR8B6j0f
Af89HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89HwH7PR8BtD0fASU9HwEAPR8B
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
PR8BAD0fASo9HwHqPR8B/z0fAf89HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89
HwH/PR8Bsz0fARE9HwEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAA9HwEAPR8BKj0fAeo9HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89HwH/PR8B
/z0fAf89HwH/PR8B/z0fAf89HwH7PR8BYj0fAQA9HwEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD0fAQA9HwEqPR8B6j0fAf89HwH/PR8B/z0fAf89
HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89HwGuPR8BBT0fAQAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPR8BAD0fASY9HwHTPR8B
5z0fAeY9HwHmPR8B5j0fAeY9HwHmPR8B5j0fAeY9HwHmPR8B5j0fAeY9HwHmPR8B6UAiA76SdDEo
x69NGsCvRxu9tEQbu7pBG7i+Phe3wTwDt8A8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9
HwEAPR8BBj0fASM9HwEmPR8BJj0fASY9HwEmPR8BJj0fASY9HwEmPR8BJj0fASY9HwEmPR8BJj0f
ASYzFQAkjGsuSsOjTNHCqkrdwK9H3L20RNy7ukHeuL4+urfBPBS3wDwAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAMajTwDHo1BGxaVN98KqSv/Ar0f/vbRE/7u6Qf+4vj7Pt8E8ErfAPQAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADHn1EAxKVNAMahUH3FpU3/wqpK/8CvR/+9tET/u7pB
/7m+Pru3wTwIuMA9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyppUAMieUgDInVIhx6BQ0sWlTf/C
qkr/wK9H/720RP+7ukH/ub0+lsGrSgC4vz0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMyVVwDKmVUAy5dW
GMmbU6fHoFH/xaVN/8KqSv/Ar0f/vbRE/7u5Qfy5vT9dubw/ALi/PQAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANGKXgDO
klkA0IxcDM6RWkzMllfAyZtU/segUf/FpU3/wqpK/8CvR/+9tET/u7lB2bm8PyC6vD8AAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA2Xpo
ANp4aQHYfWYR1oFjN9OGYHTRi12+zpBa9MyVV//Jm1T/x6BQ/8WlTf/Cqkr/wK9H/720RP+7uEJ+
yZtTALq7QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAONmdADg
a3EA4mlyB99tcCjdcm1e23dqmdh8Z8zWgWPw04Zg/tGLXf/OkFr/zJVX/8mbVP/HoFD/xaVN/8Kq
Sv/Ar0f/vbREv7y3Qhi8tkMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AOhcewD0Q4oA5155GeRjdmDiZ3Ow4Gxw5t1ybfzbd2r/2Hxn/9aBY//ThmD/0Ytd/86QWv/MlVf/
yZtU/8egUP/FpU3/wqpK/8CvR86+skUwv7FGAL21QwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAOxSgADrVn4A61R/EOlZfGrnXXrQ5WJ2++Jnc//gbHD/3XJt/9t3av/YfGf/1oFj/9OG
YP/Ri13/zpBa/8yVV//Jm1T/x6BQ/8WlTfvCqkqzwK1IK8KqSgC/sEYAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAADvTIQA7FOAAO5PgivsU4Cz6lh9++ddev/lYnb/4mdz/+BscP/dcm3/
23dq/9h8Z//WgWP/04Zg/9GLXf/OkFr/zJVX/8mbVPvHoFHQxaROasOoSxDEp0wAwqpKAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8UiHAO9MhADwSoUw7k6DzexTgP/qWH3/5116/+Vi
dv/iZ3P/4Gxw/91ybf/bd2r/2Hxn/9aBY//ThmD/0Ytd/M6QWuXMlVevyppUX8ieURi3wDwAxqFQ
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADyRogA8kaIGPFJhr7vTYP/
7FOA/+pYff/nXXr/5WJ2/+Jnc//gbHD/3XJt/9t3av/YfGfx1oFkzdOGYJnRi11dz5BaKM2UWAbO
klkAzJZWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9EKKAOhd
egDzRYl98UiG/+9Og//sU4D/6lh9/+ddev/lYnb/4mdz/+BscPndcW3K23Zqfdl7ZzvWgGQS1IVh
AdWDYgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAD1QYsA9UGLH/NEidnxSIb/706D/+xTgP/qWH3/5116/+Vidv/iZ3PV4GxxYt5wbhO7
u0EA3HNsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAA9j6NAPVBiwD1QItc9EOK/PFIhv/vToP/7FOA/+pYff/nXXr/5WJ3
wONmdCnmX3gA4mlyAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD2PY0A7VGBAPU/jJb0Q4r/8UiG/+9Og//s
U4D/6lh9/+ddet/mYHgw5l95AORjdgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPc9jQD3O44I9j+M
u/RDiv/xSIb/706D/+xTgP/qWH3/6Fx7ifFKhgDnXnkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAA9z2OAPc8jhL2P4zP9EOK//FIhv/vToP/7FOA/+pYffjqW3xK6Vt8AAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAD3PI4A9zyOFPY/jLr0Q4re8UiG3O9Og9zsU4Dd51d70aFCSUswGgAk
PR8BJj0fASY9HwEmPR8BJj0fASY9HwEmPR8BJj0fASY9HwEmPR8BJj0fASY9HwEmPR8BIj0fAQY9
HwEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPc8jgD3PI4D9j+MF/RDihvxSIYb706DG/JV
hRqqQ08oQSEEvj0fAek9HwHmPR8B5j0fAeY9HwHmPR8B5j0fAeY9HwHmPR8B5j0fAeY9HwHmPR8B
5j0fAec9HwHQPR8BIj0fAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAPR8BAD0fAQU9HwGuPR8B/z0fAf89HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89
HwH/PR8B/z0fAf89HwH/PR8B/z0fAeY9HwEmPR8BAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9HwEAPR8BAD0fAWI9HwH7PR8B/z0fAf89HwH/PR8B
/z0fAf89HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89HwH/PR8B5j0fASY9HwEAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA9HwEAPR8BET0fAbM9
HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89HwHmPR8BJj0f
AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AD0fAQA9HwEAPR8BJT0fAbQ9HwH7PR8B/z0fAf89HwH/PR8B/z0fAf89HwH/PR8B/z0fAf89HwH/
PR8B/z0fAeY9HwEmPR8BAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAD0fAQA9HwEAPR8BFj0fAXg9HwHSPR8B+T0fAf89HwH/PR8B/z0f
Af89HwH/PR8B/z0fAf89HwH/PR8B5j0fASY9HwEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/gAH
//4AA//+AAH//gAB//4AAP/+AAAD/gAAA////AP///wD///4B///8Af//8AH//wAD//gAA//gAAf
/gAAP/wAAH/4AAH/8AAH//AAP//gA///4A///+Af///AP///wD///8AAAH/AAAB//wAAf/+AAH//
gAB//8AAf//gAH8=" rel="icon" type="image/x-icon" />
    <sly data-sly-include="head.seo.html"></sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-call="${headlibRenderer.headlibs @
                                designPath                = page.designPath,
                                staticDesignPath          = page.staticDesignPath,
                                clientLibCategories       = page.clientLibCategories,
                                clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
                                hasCloudconfigSupport     = page.hasCloudconfigSupport}"></sly>

    <sly data-sly-test=${page.appResourcesPath} data-sly-call="${headResources.favicons @ path = page.appResourcesPath}"></sly>
</template>