<div data-sly-use.model="com.softwareag.core.models.popup.PopUpConfigModel"
     class="configuration__block">

    <h2 class="a-h2">Pop Up Configuration</h2>

    <div class="property__block">
        <dl>
            <dt>Enable Regional PopUp:</dt>
            <dd>${model.enableRegionalPopUp}</dd>

            <dt>Regional PopUp Message:</dt>
            <dd>${model.regionalPopUpMessage}</dd>

            <dt>Regional Label Close:</dt>
            <dd>${model.regionalLabelClose}</dd>

            <dt>Regional Label Redirect:</dt>
            <dd>${model.regionalLabelRedirect}</dd>

            <dt>Enable Redirect PopUp:</dt>
            <dd>${model.enableRedirectPopUp}</dd>

            <dt>External PopUp Message:</dt>
            <dd>${model.externalPopUpMessage}</dd>

            <dt>External Label Close:</dt>
            <dd>${model.externalLabelClose}</dd>

            <dt>External Label Redirect:</dt>
            <dd>${model.externalLabelRedirect}</dd>
        </dl>
    </div>
</div>
