<sly data-sly-use.integrationModel="com.softwareag.core.models.IntegrationModel"
     data-sly-use.targetscriptTemplateTop="softwareag/components/commons/integration/template.target.top.html"
     data-sly-call="${targetscriptTemplateTop.targetscript @ integrationModel=integrationModel}"></sly>

<div data-sly-use.placeholderTemplate="softwareag/components/commons/templates.html"
     class="text__container ${properties.backgroundStyle} ${properties.fontStyle}">

    <p data-sly-test="${properties.anchorName}" data-sly-attribute.id="${properties.anchorName}" class="jump_to" />

    <div class="text__text">
        ${properties.text @ context='html'}
    </div>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty = !properties.text}"></sly>

<sly data-sly-use.targetscriptTemplate="softwareag/components/commons/integration/template.target.html"
     data-sly-call="${targetscriptTemplate.targetscript @ integrationModel=integrationModel}"></sly>
