@import "../../../core/scss/base/atom/text-background";
@import "../../../core/scss/base/atom/text_component-bckground_color";

.input__colorselect-icon-color1 {
  background-color: #fff;
}
.input__colorselect-icon-color2 {
  background-color: #8e3cf7;
}
.input__colorselect-icon-color3 {
  background-color: #3cc1b7;
}
.input__colorselect-icon-color4 {
  background-color: #d9ec27;
}
.input__colorselect-icon-color5 {
  background-color: #3b2c5e;
}
.input__colorselect-icon-color6 {
  background-color: #1c5569;
}
.input__colorselect-icon-color7 {
  background-color: #f2f2ea;
}
.input__colorselect-icon-color8 {
  background-color: #011f3d;
}
.input__colorselect-icon-color9 {
  background-color: #193857;
}
.input__colorselect-icon-color10 {
  background-color: #f0f2f4;
}
