<sly data-sly-use.integrationModel="com.softwareag.core.models.IntegrationModel"
   data-sly-use.campaignModel="com.softwareag.core.models.CampaignModel"
   data-sly-use.targetscriptTemplateTop="softwareag/components/commons/integration/template.target.top.html"
   data-sly-use.number="com.softwareag.core.models.links.LinksModel"
   data-sly-call="${targetscriptTemplateTop.targetscript @ integrationModel=integrationModel}"></sly>
<sly data-sly-use.placeholderTemplate="softwareag/components/commons/templates.html">
<div class="btnlink-row__wrapper ${properties.backgroundColor}" >
<!-- populate input__colorselect-background-color1/7/8/10 above -->
 <div class="btnlink-row__layout">
 <div class="btnlink-row__grid ${properties.position}">
  <!-- alignment should return left-align/center-align based on user selection -->
   <sly data-sly-test="${properties.ctatypes=='button'}">
	  <sly data-sly-resource="${ @ path='button-alignment', resourceType='softwareag/components/content/button', decoration=true}"> 
	  </sly>
   </sly>
   <sly data-sly-test="${properties.ctatypes=='links'}">
	   <sly data-sly-list="${number.nooflinks}">
	   <sly data-sly-test.newPath="${'section-links{0}' @ format = itemList.index}">
		<sly data-sly-resource="${ newPath @ resourceType='softwareag/components/content/links', decoration=true}">
        </sly>
		</sly>
	   </sly>
   </sly>
   <sly data-sly-test="${properties.ctatypes=='linksbutton'}">
       <sly data-sly-resource="${ @ path='button-link-alignment', resourceType='softwareag/components/content/button', decoration=true}">
	   </sly>
   	   <sly data-sly-list="${number.noofbuttonlinks}">
	   <sly data-sly-test.newPath="${'button-links{0}' @ format = itemList.index}">
		<sly data-sly-resource="${ newPath @ resourceType='softwareag/components/content/links', decoration=true}">
        </sly>
	   </sly>
	   </sly>
   </sly>
  </div>
  </div>
</div>
</sly>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty = !properties.text}"></sly>