cache.serve-authenticated=B"true"
cache.ttl=I"300"
enabled=B"true"
error-images.enabled=B"false"
error-page.extension="html"
error-page.fallback-name="500"
error-page.system-path="/content/softwareag/corporate/en_corporate/errors/404"
not-found.behavior="respond-with-404"
not-found.exclusion-path-patterns=[""]
paths=["/content/softwareag/de/de_de/errors/404", "/content/softwareag/corporate/en_corporate/errors/404", "/content/techcommunity/en/en_en/errors/404", "/content/investorrelation/en/en_en/errors/404", "/content/newscenter/en/en/errors/404","/content/developercenter/en/en/errors/404"]
service.pid="com.adobe.acs.commons.errorpagehandler.impl.ErrorPageHandlerImpl"
vanity.dispatch.enabled=B"false"
