.media-v1__wrapper {
  position: relative;
  padding: 6.4rem 2.4rem;

  &.media-v1-edgetoedge {
    padding: 6.4rem 0;
  }

  &.media-core-dark-950 {
    background-color: $color-core-dark-950;
  }
  &.media-core-light-930 {
    background-color: $color-core-light;
  }
  &.media-core-dark-120 {
    background-color: $color-core-black;
    .media-description {
      color: #fff;
    }
    .media-link__container {
      color: #fff;
    }
  }
  &.media-v1__wrapper.media-white {
    background-color: $color-white;
  }

  //Responsive wrapper
  @include mq-tablet {
    padding: 4.8rem 2.4rem;
  }
  @include mq-phone {
    padding: 4rem 1.6rem;
  }

  .media-v1__container {
    max-width: 127.2rem;
    margin: 0 auto;
    &.media-v1-edgetoedge {
      max-width: 100%;
      margin: 0;
    }
  }

  .media-v1-centered,
  .media-v1-centered-full {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 127.2rem;
    margin: 0 auto;
    @include mq-tablet {
      padding: 0rem;
    }
    @include mq-phone {
      padding: 0rem;
    }
  }
  .media-v1-content {
    max-width: 95rem;
    width: 100%;
    &.media-v1-centered {
      margin: 0 auto;
    }
    &.media-v1-left {
      margin: 0;
    }

    &.media-v1-centered-full {
      margin: 0;
    }
    &.media-v1-edgetoedge {
      max-width: 132rem;
      padding: 0 2.4rem;
      margin: 0 auto;
      @include mq-tablet {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
      }
      @include mq-phone {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
      }
      .media-description {
        margin: 0;
      }
    }
  }
  .media-description {
    max-width: 95rem;
    margin: auto;
    padding-top: 4.8rem;
    @include mq-tablet {
      padding-top: 4rem;
      padding-left: 0;
      padding-right: 0;
    }
    @include mq-phone {
      padding-top: 4rem;
      padding-left: 0;
      padding-right: 0;
    }
    @include base-font;
    @include font-size-with-rem-line-height(1.6rem, 2.4rem);

    //media description with left alignment
    &.media-v1-left {
      text-align: left;
      @include mq-desktop {
        padding-left: 0;
      }
      // @include mq-tablet {
      //   padding-left: 0rem;
      //   padding-right: 0rem;
      // }
      // @include mq-phone {
      //   padding-left: 0rem;
      //   padding-right: 0rem;
      // }
    }

    &.media-v1-centered-full {
      text-align: left;
      @include mq-desktop {
        padding-left: 0;
      }
      // @include mq-tablet {
      //   padding-left: 0rem;
      //   padding-right: 0rem;
      // }
      // @include mq-phone {
      //   padding-left: 0rem;
      //   padding-right: 0rem;
      // }
    }

    //media description with center alignment

    &.media-v1-centered {
      max-width: 95rem;
      margin: auto;
      text-align: center;
      @include mq-tablet {
        text-align: left;
      }
      @include mq-phone {
        text-align: left;
      }
    }

    //RTE styles for paraformat

    h3 {
      @include base-font-bold;
      @include mq-desktop {
        @include font-size-with-rem-line-height(3.2rem, 4rem);
        padding-bottom: 1.2rem;
      }
      @include mq-tablet {
        @include font-size-with-rem-line-height(2.8rem, 3.4rem);
        padding-bottom: 1.2rem;
      }
      @include mq-phone {
        @include font-size-with-rem-line-height(2.4rem, 3rem);
        padding-bottom: 0.8rem;
      }
    }
    h4 {
      @include base-font-bold;
      padding-bottom: 0.8rem;
      @include mq-desktop {
        @include font-size-with-rem-line-height(2.4rem, 3rem);
      }
      @include mq-tablet {
        @include font-size-with-rem-line-height(2.4rem, 3rem);
      }
      @include mq-phone {
        @include font-size-with-rem-line-height(2.2rem, 2.8rem);
      }
    }
    h5 {
      @include mq-phone {
        @include font-size-with-rem-line-height(2rem, 2.6rem);
      }
      @include mq-tablet {
        @include font-size-with-rem-line-height(2rem, 2.6rem);
      }
      @include mq-desktop {
        @include font-size-with-rem-line-height(2rem, 2.6rem);
      }
      @include base-font-bold;
      padding-bottom: 0.4rem;
    }
    ul {
      @include mq-phone {
        padding-left: 2.6rem;
      }
      @include mq-tablet {
        padding-left: 4.6rem;
      }
      @include mq-desktop {
        padding-left: 4.6rem;
      }
      list-style-type: disc;
      list-style-position: outside;
      li:not(:last-child) {
        padding-bottom: 1rem;
      }
      @include mq-phone {
        padding-bottom: 2rem;
      }
      @include mq-tablet {
        padding-bottom: 2.4rem;
      }
      @include mq-desktop {
        padding-bottom: 3.2rem;
      }
    }
    ol {
      list-style-type: decimal;
      list-style-position: outside;
      @include mq-phone {
        padding-left: 2.6rem;
      }
      @include mq-tablet {
        padding-left: 4.6rem;
      }
      @include mq-desktop {
        padding-left: 4.6rem;
      }
      @include mq-phone {
        padding-bottom: 2rem;
      }
      @include mq-tablet {
        padding-bottom: 2.4rem;
      }
      @include mq-desktop {
        padding-bottom: 3.2rem;
      }
      li:not(:last-child) {
        padding-bottom: 1rem;
      }
    }
    p {
      @include base-font;
      @include font-size-with-rem-line-height(1.6rem, 2.4rem);
      letter-spacing: 0em;
    }
    p:not(:last-child) {
      @include mq-desktop {
        padding-bottom: 3.2rem;
      }
      @include mq-tablet {
        padding-bottom: 2.4rem;
      }
      @include mq-phone {
        padding-bottom: 2rem;
      }
    }
  }

  //Image manipulation for media component
  &.no-tab-media {
    .dynamic-media__container {
      max-width: 106.6rem;
      .media-image {
        width: 100%;
      }
    }
    .dynamic-media__container.media-v1-edgetoedge {
      max-width: 100%;
    }
    .dynamic-media__container.media-v1-centered-full {
      max-width: 127.2rem;
    }

    // .dynamic-media__container.media-v1-centered {
    //   .media-image {
    //     // vertical-align: middle;
    //     // object-fit: cover;
    //     width: 100%;
    //     // @include mq-desktop {
    //     //   aspect-ratio: 16/9;
    //     // }
    //     // @include mq-tablet {
    //     //   aspect-ratio: 16/9;
    //     // }
    //     // @include mq-phone {
    //     //   aspect-ratio: 16/9;
    //     // }
    //   }
    //   .s7responsiveContainer {
    //     img {
    //       // vertical-align: middle;
    //       // object-fit: cover;
    //       // @include mq-desktop {
    //       //   aspect-ratio: 16/9;
    //       // }
    //       // @include mq-tablet {
    //       //   aspect-ratio: 16/9;
    //       // }
    //       // @include mq-phone {
    //       //   aspect-ratio: 16/9;
    //       // }
    //     }
    //   }
    // }
  }

  //media-link-container
  .media-link__container {
    max-width: 95rem;
    &.media-v1-left {
      .cmp-link {
        text-align: left;
        padding-left: 0;
        padding-right: 32.6rem;
        @include mq-tablet {
          padding-left: 0rem;
          padding-right: 0rem;
        }
        @include mq-phone {
          padding-left: 0rem;
          padding-right: 0rem;
        }
      }
    }

    &.media-v1-centered {
      text-align: center;
      margin: 0 auto;
      @include mq-tablet {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
      }
      @include mq-phone {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.media-v1-edgetoedge {
      margin: 0;
      @include mq-tablet {
        text-align: left;
      }
      @include mq-phone {
        text-align: left;
      }
    }
    .cmp-link {
      padding-top: 2.4rem;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.tab-V1__container .textmediacontainer_spacing {
  @include mq-desktop {
    padding-right: 0;
    padding-left: 0;
  }
}
